// .catalog {}

.catalog__list {
  @include reset-list-styles;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: $tablet-main-wrapper;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: $desktop-main-wrapper;
  }
}

.catalog__list-item {
  width: 100%;
  padding: 23px 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid $special-grey2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;

  &--show {
    padding-top: 78px;
    // padding-bottom: 23px;
    grid-template-columns: none;
    position: relative;
  }

  &:first-child {
    border-top: 1px solid $special-grey2;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 36px 40px;
    margin-bottom: 60px;
    width: 45.5%;
    height: 511px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-end;
    border: none;
    background: linear-gradient(to top, $basic-grey 84%, $basic-white 16%);

    &--show {
      padding: 161px 36px 40px;
      height: 429px;
      background: none;
      align-self: flex-end;
      border: 1px solid $basic-grey;
      justify-content: flex-end;
    }

    &:first-child {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 20%;
    margin-right: 80px;
    margin-bottom: 63px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.catalog__item-title {
  @include set-font(16px, 20px);
  @include reset-indents;
  text-transform: uppercase;
  width: 60%;
  color: $special-dark-grey2;

  &--show {
    width: max-content;
    margin: 0 auto;
  }

  &--show::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/plus.svg");
  }

  @media (min-width: $tablet-width) {
    @include set-font(20px, 24px);
    margin: 0 auto;
    margin-top: 33px;
    text-align: center;
    width: 60%;

    &--show {
      padding-bottom: 13px;
      width: 55%;
    }

    &--show::before {
      top: 50px;
      width: 60px;
      height: 60px;
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 41px;
    width: 80%;

    &--show {
      width: 80%;
    }
  }
}

// .catalog__item-img {}

.catalog__content-wrapper-list-item {
  width: 100%;
}

.catalog__item-description {
  @include set-font(12px, 16px);
  padding-top: 10px;
  padding-bottom: 8px;
  font-family: $secondary-font;
  color: $special-dark-grey;
  width: 100%;
  text-align: center;

  &--show {
    color: $special-dark-grey;
    width: max-content;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    @include set-font(16px, 18px);

    &--show {
      padding-bottom: 62px;
      width: 70%;
    }
  }

  @media (min-width: $desktop-width) {
    &--show {
      width: 100%;
    }
  }
}

.catalog__item-desc-row {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 6px;
    border-bottom: 1px solid $special-grey;
  }
}

.catalog__item-desc-data {
  @include reset-indents;
}

.catalog__button {
  @include set-font(16px, 20px);
  grid-column: 1/-1;

  padding: 10px 0;
  margin-top: 11px;
  width: 100%;

  &--show {
    color: $special-dark-grey;
    background-color: $basic-grey;
  }

  &--show:hover {
    background-color: $special-grey2;
  }

  &--show:active {
    opacity: 0.8;
  }

  @media (min-width: $tablet-width) {
    margin-top: 23px;
    padding: 9px 0;
  }
}

.catalog__content-item-show {
  width: 100%;
}
