.contacts {
  &--bg-grey {
    background-color: $basic-grey;
  }
}

.contacts__wrapper {
  padding: 28px 0;
  margin: $main-wrapper;
  display: flex;
}

.contacts__invite {
  @include set-font(16px, 20px);
  @include reset-indents;
  text-transform: uppercase;
  color: $special-dark-black;
}

.contacts__address {
  @include set-font(14px, 20px);
  @include reset-indents;
  max-width: 140px;
  font-family: $secondary-font;
  color: $special-dark-grey;
}

.contacts__map {
  width: 320px;
  height: 362px;
  background-image: url("../img/location.jpg");

  & iframe {
    border: none;
  }
}
