.copyright {
  //box-sizing: content-box;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__title {
  @include set-font(16px, 18.4px);
  margin-right: auto;
  font-family: $secondary-font;
  color: $special-dark-grey;
}

.copyright__logo {
  width: 27px;
  height: 34px;
}
