// .copyright {}
.copyright__title {
  @include set-font(16px, 18px);
  margin-right: auto;
  font-family: $secondary-font;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
    margin-left: auto;
  }
}

.copyright__icon {
  fill: $special-dark-grey;
}

.copyright__link {
  display: flex;
  align-items: center;

  &:hover .copyright__icon {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}
