.example {
  background-color: $special-grey-example;

  &__title {
    @include main-wrapper;
    @include set-font(36px, 40px);
    padding-top: 27px;
    padding-bottom: 33px;
  }

  &__text {
    @include main-wrapper;
    @include secondary-font;
  }

  &__list {
    padding: 25px 0;
    @include main-wrapper;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 124px;
    height: 55px;
    text-align: center;
    border: 1px solid $special-grey;
    border-radius: 4px;
  }

  &__result {
    margin-top: 15px;
    margin-bottom: 9px;
    @include set-font(24px, 24px);
    text-transform: uppercase;
  }

  &__description {
    width: 80px;
    margin: 0 auto;
    @include set-font(12px, 12px);
    @include secondary-font;
    color: $special-dark-grey;
    background-color: $special-grey-example;
  }

  &__total-text {
    @include set-font (14px, 20px);
    text-align: center;
    text-transform: uppercase;
  }

  &__form-slider {
    margin-top: 47px;
    padding-bottom: 25px;
    background-color: inherit;
  }
}
