.example {
  background-color: $special-grey-example;
}

.example__title {
  @include set-font(36px, 40px);
  margin: $main-wrapper;
  padding-top: 27px;
  padding-bottom: 33px;
}

.example__text {
  margin: $main-wrapper;
  font-family: $secondary-font;
  color: $special-dark-grey;
}

.example__list {
  margin: $main-wrapper;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}

.example__item {
  width: 124px;
  height: 55px;
  text-align: center;
  border: 1px solid $special-grey;
  border-radius: 4px;
}

.example__result {
  @include set-font(24px, 24px);
  margin-top: 15px;
  margin-bottom: 9px;
  text-transform: uppercase;
}

.example__description {
  @include set-font(12px, 12px);
  width: 80px;
  margin: 0 auto;
  font-family: $secondary-font;
  color: $special-dark-grey;
  background-color: $special-grey-example;
}

.example__total-text {
  @include set-font (14px, 20px);
  @include reset-indents;
  padding-top: 8px;
  text-align: center;
  text-transform: uppercase;
}

.example__form-slider {
  margin-top: 42px;
  padding-bottom: 25px;
  background-color: inherit;
}
