.footer {
  @include main-wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    padding-top: 39px;
    padding-bottom: 31px;
    text-align: center;
    border-bottom: 1px solid #D9D9D9;
    width: 100%;
  }

  &__socials {
    border-bottom: 1px solid #D9D9D9;
    width: 100%;
  }

  &__copyright {
    padding: 22px 0;
  }
}
