.footer {
  background-color: $basic-grey;
}

.footer__wrapper {
  margin: $main-wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: $tablet-main-wrapper;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: $desktop-main-wrapper;
  }
}

.footer__logo {
  padding-top: 39px;
  padding-bottom: 29px;
  text-align: center;
  border-bottom: 1px solid $grey-line;
  width: 100%;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    text-align: start;
    border: none;
  }
}

.footer__socials {
  padding-top: 20px;
  padding-bottom: 19px;
  border-bottom: 1px solid $grey-line;
  width: 100%;

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 55px;
    padding-bottom: 61px;
  }
}

.footer__copyright {
  padding: 22px 0;
  width: 100%;
}
