.form-slider {

  &__cat-image {
  }

  &__wrapper{
    margin: 0 45px;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    @include set-font(16px, 20px);
    @include main-font;
    border: none;
    color: $basic-black;
    text-transform: uppercase;
  }

  &__scale {
    align-self: center;
    width: 84px;
    height: 14px;
    background-color: $basic-white;
    border: 1px solid #CDCDCD;
    border-radius: 6px;

  }

  &__bar {
    margin: 4px 8px;
    width: 50%;
    height: 6px;
    background-color: #68B738;
    border-radius: inherit
  }

  &__toggle {
  }
}
