// .form-slider {}

.form-slider__slider-wrapper {
  margin: 29px 57px 9px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 0 99px 9px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form-slider__cat-image {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    height: 535px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 40px;
    margin-bottom: 19px;
  }
}

.form-slider__image {
  max-width: none;
}

// .form-slider__image--before {}

.form-slider__image--after {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.form-slider__button {
  @include set-font(16px, 20px);
  padding: 0;
  font-family: $main-font;
  color: $basic-black;
  border: none;
  text-transform: uppercase;
  background-color: transparent;

  &:focus {
    outline: 2px solid $special-dark-grey;
    outline-offset: -2px;
  }

  @media (min-width: $tablet-width) {
    @include set-font(20px, 30px);
    border-bottom: 1px dotted $grey-line;

    &:hover {
      border-bottom: 1px solid $basic-black;
    }

    &:active,
    &:focus {
      border-bottom: none;
      outline: none;
    }
  }
}

.form-slider__scale {
  align-self: center;
  width: 84px;
  height: 14px;
  background-color: $basic-white;
  border: 1px solid $special-grey;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 6px;
    background-color: $special-grey5;
    border: none;
    margin: 0 19px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 24px;
  }
}

.form-slider__bar {
  margin: 4px 8px;
  width: 50%;
  height: 6px;
  background-color: $basic-green;
  border-radius: inherit;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form-slider__toggle {
  @media (min-width: $tablet-width) {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $basic-green;
    border: 12px solid $basic-white;
    border-radius: 50%;
    box-shadow:
      0 0 0 1px $special-grey5,
      0 1px 3px $special-grey5;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 2px $special-grey5,
        0 2px 4px $special-grey5;
    }

    &:active {
      box-shadow: 0 0 0 2px $basic-green,
        0 3px 5px $special-grey5;
    }
  }
}
