.gift {
  margin-top: 38px;
  margin-bottom: 34px;
  background: $basic-green url("../img/gift-photo-mobile.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  height: auto;

  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-top: 68px;
    background-image: url("../img/gift-photo-tablet.jpg");
    height: 200px;
    // background-position-y: center;

    @media (min-resolution: 2dppx) {
      min-height: 289px;
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    height: 289px;
    background-image: url("../img/gift-photo-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.gift__description {
  @include set-font(16px, 20px);
  color: $basic-white;
  font-family: $secondary-font;
  padding-top: 186px;
  padding-bottom: 43px;

  &::before {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/icon-gift.svg");
  }

  @media (min-width: $tablet-width) {
    padding: 70px 0 70px 60%;
    text-align: start;

    &::before {
      left: 118px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 171px;
    text-align: center;

    &::before {
      left: 50%;
    }
  }
}
