.intro {
  color: $basic-white;
  text-align: center;
  position: relative;

  &::before{
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    height: 302px;
    width: 100%;
    background-image:
      linear-gradient(to top, rgba($basic-green, .85), rgba($basic-green, .85)),
      url(../img/index-background-desktop.jpg);
    background-repeat: no-repeat;
  }

  &__title {
    margin: 0;
    padding-top: 27px;
    @include set-font(36px, 36px);
  }

  &__slogan {
    margin: 0;
    padding-top: 25px;
    @include set-font(14px, 14px);
    text-transform: uppercase;
  }

  &__img {
    padding-top: 29px;
  }

  &__button {
    @include main-wrapper;
    background-color: $basic-green;
    padding: 11px 0;

    &:hover{
      background-color: $basic-green2;
    }

    &:active {
      background-color: $basic-green2;
      color: rgba($basic-white, 0.3);
    }
  }
}
