.logo {
  margin: $main-wrapper;
  display: inline-block;
  padding: 12px 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    max-width: 100%;
    margin: 0;
    padding: 23px 0 29px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 0 52px;
  }
}
// .logo__img {}
