.logo {
  margin: $main-wrapper;
  display: inline-block;
  padding: 12px 0 14px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
// .logo__img {}
