.main-header {
  position: relative;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    margin: $tablet-main-wrapper;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: $desktop-main-wrapper;
  }
}
