.nav {
  @include set-font(20px, 20px, 500);
  font-family: $main-font;
  text-transform: uppercase;
}

.nav__toggle {
  position: absolute;
  content: "";
  top: 23px;
  right: 3px;
  width: 24px;
  height: 16px;
}

.nav__list {
  @include reset-list-styles;
  border-top: 1px solid $special-grey2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav__list-item {
  text-align: center;
  padding: 22px 0 23px;
  border-bottom: 1px solid $special-grey2;

  &--active {
    border-bottom: 2px solid $basic-green;
  }
}

.nav__list-item-link {
  color: $basic-black;

  &:hover {
    color: rgba($basic-black, 0.6);
  }

  &:active {
    color: rgba($basic-black, 0.3);
  }
}
