.nav {
  @include main-font;
  @include set-font(20px, 20px, 500);
  color: $basic-black;
  text-transform: uppercase;

  &__toggle {
    width: 24px;
    height: 16px;
  }

  &__list {
    width: 100%;
    border-top: 1px solid #E6E6E6;
  }
}
