// .page {}

.page__body {
  min-height: 100%;
}

.page__main {
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    position: relative;
  }
}

.page__main-title {
  @include set-font(36px, 36px);
  margin: $main-wrapper;
  margin-top: 27px;
  margin-bottom: 37px;
}

// .page__footer {}
