.program-form {
  @include set-font(16px, 18px);
}

.program-form__title {
  @include set-font(14px, 18px);
  margin: $main-wrapper;
  text-transform: uppercase;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    @include set-font(20px, 30px);
    margin: $tablet-form-wrapper;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin: $desktop-main-wrapper;
  }
}

.program-form__wrapper-cat-info-target {
  @media (min-width: $desktop-width) {
    margin: $desktop-main-wrapper;
    margin-bottom: 49px;
    display: flex;
    justify-content: space-between;
  }
}

.program-form__cat-info {
  @include reset-indents;
  margin-bottom: 9px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid $grey-line;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    padding-bottom: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 80px;
    width: 50%;
  }
}

.program-form__item-wrapper {
  margin: $main-wrapper;
  padding-bottom: 14px;
  display: flex;
  align-items: baseline;
  position: relative;

  @media (min-width: $tablet-width) {
    // margin: $tablet-main-wrapper;
    margin: $tablet-form-wrapper;
    margin-right: 67px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 78px;
    width: 100%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.program-form__label {
  padding-right: 6%;
  text-transform: uppercase;
  color: $special-dark-grey;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    @include set-font(20px, 30px);
    padding-right: 3%;
  }
}


.program-form__input {
  @include set-font(16px, 18px);
  width: 100%;
  height: 41px;
  border: 1px solid $special-middle-white;
  padding-left: 14px;
  font-family: $main-font;
  color: $special-dark-grey;
  text-transform: uppercase;

  // &--email {}
  // &--phone {}

  &::placeholder {
    color: $special-dark-grey;
  }

  &:hover {
    border: 1px solid $special-grey;
  }

  &:focus,
  &:active {
    outline: 2px solid $special-dark-grey;
    outline-offset: -2px;

    + .program-form__icon--phone {
      fill: $basic-green;
    }

    + .program-form__icon--email {
      stroke: $basic-green;
    }
  }

  &:focus:invalid {
    outline: 2px solid $status_error;
    outline-offset: -2px;

    + .program-form__icon--phone {
      fill: $status_error;
    }

    + .program-form__icon--email {
      stroke: $status_error;
    }
  }

  @media (min-width: $tablet-width) {
    @include set-font(20px, 30px);
    height: 48px;
  }
}

//.input-text {}

.program-form__target {
  @include reset-indents;
  border: none;
  border-bottom: 1px solid $grey-line;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 50%;
  }
}

.program-form__radio-list {
  list-style: none;
  margin: $main-wrapper;
  padding: 19px 0 24px 0;

  @media (min-width: $tablet-width) {
    border: 1px solid $grey-line;
    margin: $tablet-form-wrapper;
    margin-right: 67px;
    padding: 29px;
    padding-left: 28px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.program-form__radio-item {
  padding-bottom: 25px;
  display: flex;

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 23px;
  }
}

// .program-form__radio-input {}

.program-form__radio-label {
  margin-left: 45px;
  color: $special-dark-grey2;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  user-select: none;
  position: relative;

  @media (min-width: $tablet-width) {
    @include set-font(20px, 30px);
    margin-left: 60px;
  }
}

.program-form__radio-input + .program-form__radio-label::before {
  content: "";
  position: absolute;
  left: -46px;
  top: -6px;
  width: 29px;
  height: 29px;
  border: 1px solid $special-grey;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: -60px;
    width: 38px;
    height: 38px;
  }
}

.program-form__radio-input:checked + .program-form__radio-label::after {
  content: "";
  position: absolute;
  left: -37.5px;
  top: 2px;
  width: 14px;
  height: 14px;
  background-color: $basic-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 6px;
    left: -48px;
    width: 17px;
    height: 17px;
  }
}

.program-form__radio-input:focus + .program-form__radio-label::before {
  outline: 2px solid $special-dark-grey;
  outline-offset: -2px;
}

.program-form__contact-info {
  @include reset-indents;
  border: none;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.program-form__legend {
  @include set-font(24px, 26px);
  margin: $main-wrapper;
  margin-bottom: 38px;
  padding-right: 21px;
  background-color: $basic-white;
  max-width: 190px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 600vh;
    top: 14px;
    height: 3px;
    z-index: -1;
    background-color: $basic-green;
  }


  &--owner-contact {
    margin-bottom: 35px;
    padding-right: 9px;

    &::before {
      top: 15px;
    }
  }

  @media (min-width: $tablet-width) {
    @include set-font(36px, 36px);
    margin: $tablet-main-wrapper;
    margin-bottom: 76px;
    padding-left: 40px;
    padding-right: 42px;
    max-width: none;

    &::before {
      top: 21px;
      left: -100vh;
    }

    &--extra {
      margin-bottom: 62px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: $tablet-form-wrapper;
    margin-bottom: 75px;

    &--extra {
      margin-bottom: 62px;
    }
  }
}

.program-form__wrapper-contact-info {
  @media (min-width: $desktop-width) {
    margin: $desktop-main-wrapper;
    margin-right: 110px;
    display: flex;
    justify-content: space-between;
  }
}

.program-form__icon {
  position: absolute;
  top: 25%;

  &--email {
    fill: none;
    stroke: $special-dark-grey2;
    right: 15px;
    top: 25%;
  }

  &--phone {
    fill: $special-dark-grey2;
    right: 12px;
  }
}

.program-form__comment {
  @include reset-indents;
  border: none;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.program-form__wrapper-comment {
  margin: $main-wrapper;

  @media (min-width: $tablet-width) {
    margin: $tablet-form-wrapper;
    margin-right: 67px;
  }

  @media (min-width: $desktop-width) {
    margin: $desktop-main-wrapper;
    margin-right: 110px;
  }
}

.program-form__comment-text {
  @include set-font(16px, 18px);

  padding: 9px 12px 9px 15px;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  font-family: $main-font;
  border: 1px solid $special-middle-white;
  resize: none;
  color: $special-dark-grey;
  text-transform: uppercase;

  &::placeholder {
    color: $special-dark-grey;
  }

  @media (min-width: $tablet-width) {
    @include set-font(20px, 30px);
    height: 174px;
  }
}

.program-form__extra {
  @include reset-indents;
  margin-bottom: 15px;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.program-form__checkbox-list {
  @include reset-list-styles;
  margin: $main-wrapper;

  @media (min-width: $tablet-width) {
    margin: $tablet-form-wrapper;
    margin-right: 67px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin: $desktop-main-wrapper;
    margin-right: 110px;
  }
}

.program-form__checkbox-item {
  margin-bottom: 25px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 40%;
    margin-bottom: 42px;

    &:nth-child(2n+1) {
      margin-right: 92px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 20%;
    margin-right: 81px;
    margin-bottom: 0;

    &:nth-child(2n+1) {
      margin-right: 81px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

// .program-form__checkbox-input {}

.program-form__checkbox-label {
  text-transform: uppercase;
  margin-left: 46px;

  @media (min-width: $tablet-width) {
    @include set-font(20px, 30px);
    margin-left: 59px;
  }
}

.program-form__checkbox-input + .program-form__checkbox-label::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  top: -5px;
  left: 0;
  border: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    width: 38px;
    height: 38px;
  }
}

.program-form__checkbox-input:focus + .program-form__checkbox-label::before {
  outline: 2px solid $special-dark-grey;
  outline-offset: -2px;
}

.program-form__checkbox-input:checked + .program-form__checkbox-label::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  top: -5px;
  left: 0;
  background-image: url("../img/check-icon.png");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 38px;
    height: 38px;
  }
}

.program-form__checkbox-input:hover + .program-form__checkbox-label::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;
  border: 1px solid $special-grey4;
}

.program-form__checkbox-input:checked:hover + .program-form__checkbox-label::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;
  border: 1px solid $special-grey4;
}

.program-form__checkbox-input:disabled {
  + .program-form__checkbox-label {
    opacity: 0.3;

    &::before {
      position: absolute;
      content: "";
      width: 28px;
      height: 28px;
      top: -5px;
      left: 0;
      border: 1px solid $special-grey4;
      opacity: 0.6;
    }
  }
}

.program-form__submit-wrapper {
  margin: $main-wrapper;

  @media (min-width: $tablet-width) {
    // margin: $tablet-main-wrapper;
    margin: $tablet-form-wrapper;
    margin-right: 67px;
    margin-bottom: 72px;
    height: 52px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin: $desktop-main-wrapper;
    margin-right: 110px;
    margin-bottom: 81px;
  }
}

.program-form__button {
  width: 100%;
  padding: 11px 0;

  @media (min-width: $tablet-width) {
    @include set-font(20px, 20px);
    max-width: 45%;
    margin-right: 60px;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    max-width: 46.5%;
    margin-right: 84px;
  }
}

.program-form__small-legend {
  @include reset-indents;
  padding: 20px 0 30px 0;
  font-family: $secondary-font;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include set-font(19px, 16px);
    padding: 0;
  }
}
