// .socials {}
.socials__list {
  @include reset-list-styles;
  align-items: baseline;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.socials__item {
  margin-right: 36px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  &:hover path {
    fill: $basic-green;
  }

  &:active path {
    fill: $basic-green;
    opacity: 0.3;
  }

  &--fb:hover path {
    fill: none;
    stroke: $basic-green;
  }
}
