// .socials {}
.socials__list {
  @include reset-list-styles;
  align-items: baseline;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.socials__item {
  margin-right: 36px;

  &:last-child {
    margin-right: 0;
  }
}
.socials__icon {
  fill: $special-grey3;

  &--fb {
    fill: none;
    stroke: $special-grey3;
  }
}
.socials__link {
  &:hover .socials__icon {
    fill: $basic-green;
  }

  &:active .socials__icon {
    fill: $basic-green;
    opacity: 0.3;
  }

  &:hover .socials__icon--fb {
    fill: none;
    stroke: $basic-green;
  }
}
