body {
  @include set-font (14px, 18px);
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: $main-font;
  color: $basic-black;
  background-color: $basic-white;
}

a {
  text-decoration: none;
  // color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  min-width: $mobile-width;

  @media (max-width: $mobile-width-only) {
    max-width: $mobile-width-container;
  }

  @media (min-width: $tablet-width) {
    max-width: $tablet-width-container;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
  }
}
