@mixin set-font($size, $line-height, $weight: 400){
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin main-font {
  font-family: "Oswald", Arial, sans-serif;
}

@mixin secondary-font {
  font-family: Arial, sans-serif;
  color: $special-dark-grey;
}

@mixin main-wrapper {
  margin: 0 20px;
}
