@mixin set-font($size, $line-height, $weight: 400) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin reset-list-styles {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin reset-indents {
  margin: 0;
  padding: 0;
}
