// Colors
$basic-background: #e5e5e5;
$basic-black: #000000;
$basic-white: #ffffff;
$basic-green: #68b738;
$basic-green2: #5eaa2f;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$special-grey2: #ebebeb;
$special-grey3: #666666;
$special-grey4: #bababa;
$special-grey-example: #eaeaea;
$special-dark-grey: #444444;
$special-dark-grey2: #222222;
$special-dark-black: #111111;
$status_error: #ff8282;
$grey-line: #d9d9d9;
$special-middle-white: #e7e7e7;

// fonts
$main-font: "oswald", arial, sans-serif;
$secondary-font: arial, sans-serif;

// margins
$main-wrapper: 0 20px;

// shadows
$shadow-color: #c4c4c4;
// $shadow-normal-box: 0px 1px 3px rgba(0, 0, 0, 0.16);
// $shadow-hover-box: 0px 2px 4px rgba(0, 0, 0, 0.19);
// $shadow-pressed-box: 0px 3px 5px rgba(0, 0, 0, 0.2);
